/*----------------------------*/
/* Google Fonts */
/*----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/*----------------------------*/
/* Basic Setup */
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  background-color: #090d28;
  font-size: 10px;
}

/*----------------------------------------*/
/* Sports Main Contents Section*/
/*---------------------------------------*/
.mainEventsBettingContents {
  width: 100vw;
}

.main-contents-row {
  width: 83.3333vw;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  justify-content: flex-start;
}

.main-contents-row .first-column,
.main-contents-row .second-column,
.main-contents-row .third-column {
  width: 100%;
  height: 18.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4rem 0;
}

.main-contents-row .first-column .promo-box,
.main-contents-row .second-column .promo-box,
.main-contents-row .third-column .promo-box {
  width: 38.1944vw;
  height: 18.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.main-contents-row .first-column .promo-box a,
.main-contents-row .second-column .promo-box a,
.main-contents-row .third-column .promo-box a {
  text-decoration: none;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 38.1944vw;
  height: 18.5rem;
  display: block;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.main-contents-row .first-column .promo-box a:hover,
.main-contents-row .first-column .promo-box a:focus,
.main-contents-row .second-column .promo-box a:hover,
.main-contents-row .second-column .promo-box a:focus,
.main-contents-row .third-column .promo-box a:hover,
.main-contents-row .third-column .promo-box a:focus {
  box-shadow: 0 0.1rem 2.4rem #222;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.main-contents-row .first-column .promo-box a img,
.main-contents-row .second-column .promo-box a img,
.main-contents-row .third-column .promo-box a img {
  width: 100%;
  height: 100%;
  transform: scale(1.015, 1.03);
  -webkit-transform: scale(1.015, 1.03);
  -moz-transform: scale(1.015, 1.03);
  -ms-transform: scale(1.015, 1.03);
  -o-transform: scale(1.015, 1.03);
}

/*----------------------------*/
/* Media Queries For Responsiveness*/
/*----------------------------*/
@media only screen and (max-width: 1240px) {
  html {
    font-size: 9.5px;
  }
}

@media only screen and (max-width: 1150px) {
  html {
    font-size: 9.25px;
  }
  .betting-contents-head .right-content p {
    font-size: 1rem !important;
    height: 7rem;
  }
  .betting-content-body-right p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 9px;
  }
  .betting-content-left .left-third-row .search-btn button {
    height: 3.1rem;
  }
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 8.5px;
  }
  .betting-content-left .left-third-row .btn-holder button {
    font-size: 1.3rem;
  }
  .betting-content-right .highlight-navigation {
    width: 55%;
  }
  .betting-content-body-right p {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }

  .betting-content-left .left-first-row h2,
  .betting-content-left .left-second-row h2,
  .betting-content-left .left-third-row h2,
  .betting-content-left .left-fourth-row h2 {
    font-size: 1.4rem;
  }

  .betting-content-body-right h2 img {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 6px;
  }
  .betting-content-left .left-search button {
    padding: 0 !important;
    margin: 0 !important;
  }
  .betting-content-left .left-search button img {
    width: 1.4rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 5px;
  }
  .betting-content-left .left-third-row .search-btn button img {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 4.5px;
  }

  .betting-content-left .left-third-row .search-btn button {
    height: 3.3rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 4px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 3.5px;
  }
  .betting-content-left .left-search button {
    height: 3.3rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 3px;
  }
  .betting-content-left .left-search button {
    height: 3.3rem;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 2.5px;
  }
  .betting-content-left .left-search button {
    height: 3.3rem;
  }
}
