/*----------------------------*/
/* Google Fonts */
/*----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* font-family: 'Exo 2', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/*----------------------------*/
/* Basic Setup */
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  background-color: #090d28;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

/*----------------------------*/
/* JetX Page Main Content Section*/
/*----------------------------*/
.jetXMainContent {
  background: transparent;
  width: 100vw;
  height: 108rem !important;
  display: flex;
  margin: 0 0 5rem;
  flex-direction: column;
  align-items: center;
}

.jetXContent {
  width: 83.3333vw;
  height: 50rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto 8rem;
}

.jetXContent .first-column,
.jetXContent .second-column,
.jetXContent .third-column {
  width: 100%;
  height: 18.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4rem 0;
}

.jetXContent .first-column .promo-box,
.jetXContent .second-column .promo-box,
.jetXContent .third-column .promo-box {
  width: 38.1944vw;
  height: 18.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.jetXContent .first-column .promo-box a,
.jetXContent .second-column .promo-box a,
.jetXContent .third-column .promo-box a {
  text-decoration: none;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 38.1944vw;
  height: 18.5rem;
  display: block;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.jetXContent .first-column .promo-box a:hover,
.jetXContent .first-column .promo-box a:focus,
.jetXContent .second-column .promo-box a:hover,
.jetXContent .second-column .promo-box a:focus,
.jetXContent .third-column .promo-box a:hover,
.jetXContent .third-column .promo-box a:focus {
  box-shadow: 0 0.1rem 2.4rem #222;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.jetXContent .first-column .promo-box a img,
.jetXContent .second-column .promo-box a img,
.jetXContent .third-column .promo-box a img {
  width: 100%;
  height: 100%;
  transform: scale(1.015, 1.03);
  -webkit-transform: scale(1.015, 1.03);
  -moz-transform: scale(1.015, 1.03);
  -ms-transform: scale(1.015, 1.03);
  -o-transform: scale(1.015, 1.03);
}

.jetXButton button {
  width: 14vw;
  height: 6.2rem;
  font-weight: 500;
  font-size: 3.375rem;
  color: #000000;
  background: #fff212;
  margin-top: 12.2rem;
  text-align: center;
  border: 0;
  border-radius: 2.813rem;
  -webkit-border-radius: 2.813rem;
  -moz-border-radius: 2.813rem;
  -ms-border-radius: 2.813rem;
  -o-border-radius: 2.813rem;
  transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
}

.jetXButton button:hover,
.jetXButton button:focus {
  background: #b9b000;
  transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
}

.jetXTerms {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12.8rem;
}

.jetXTerms img {
  width: 6.25vw;
  margin: 0 1rem;
  cursor: pointer;
}

.jetXTerms a {
  font-weight: 400;
  font-size: 2.4125rem;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  position: relative;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}

.jetXTerms a:hover,
.jetXTerms a:focus {
  color: #999;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}

.jetXTerms a:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10rem;
  width: 47vw;
  height: 0;
  border: 0;
  border-bottom: 1px solid #efc02c;
}

.jetXTerms a:last-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15.5rem;
  width: 47vw;
  height: 0;
  border: 0;
  border-bottom: 1px solid #efc02c;
}

.jetXFooter {
  width: 18vw;
  height: 4rem;
  align-self: last baseline;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  background-color: #fff212;
}

.jetXFooter a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1.44rem;
  text-decoration: none;
  color: #000;
}

.jetXFooter a:hover,
.jetXFooter a:focus {
  text-decoration: underline;
}

.contactBtn {
  position: fixed;
  bottom: 8vh;
  right: 0;
  cursor: pointer;
}

.contactBtn img {
  width: 11.5vw;
  height: 7rem;
}

/*----------------------------*/
/* Media Queries For Responsiveness*/
/*----------------------------*/
@media only screen and (max-width: 1140px) {
  html,
  body {
    font-size: 9px;
  }
}

@media only screen and (max-width: 1020px) {
  html,
  body {
    font-size: 8.8px;
  }
}

@media only screen and (max-width: 990px) {
  html,
  body {
    font-size: 8.5px;
  }
  .jetXFirstCol,
  .jetXSecondCol {
    font-size: 1.9rem;
  }

  .jetXFirstCol .colOne {
    width: 14.8vw;
  }
}

@media only screen and (max-width: 900px) {
  html,
  body {
    font-size: 8px;
  }
  .jetXFirstCol,
  .jetXSecondCol {
    font-size: 1.8rem;
  }
  .jetXFirstCol .colTwo {
    width: 17.2vw;
  }
}

@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: 7.5px;
  }
  .jetXButton button {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 750px) {
  html,
  body {
    font-size: 7.25px;
  }
  .jetXFirstCol .colTwo {
    width: 17.5vw;
  }
}

@media only screen and (max-width: 700px) {
  html,
  body {
    font-size: 7px;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 6px;
  }
}

@media only screen and (max-width: 520px) {
  html,
  body {
    font-size: 5px;
  }
}

@media only screen and (max-width: 430px) {
  html,
  body {
    font-size: 4px;
  }
}

@media only screen and (max-width: 340px) {
  html,
  body {
    font-size: 3px;
  }
}

@media only screen and (max-width: 250px) {
  html,
  body {
    font-size: 2px;
  }
}
