/*----------------------------*/
/* Google Fonts */
/*----------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* font-family: 'Exo 2', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/*----------------------------*/
/* Basic Setup */
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  background-color: #090d28;
  font-size: 10px;
}

/*----------------------------------------*/
/* Home Contents Section (Bet-contents)*/
/*---------------------------------------*/
#home-contents {
  width: 100vw;
}

.bet-container {
  width: 83.3333vw;
  height: 50rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
}

.bet-container .first-column {
  width: 100%;
  height: 18.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4rem 0;
}

.bet-container .first-column .promo-box {
  width: 38.1944vw;
  height: 18.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.bet-container .first-column .promo-box a {
  text-decoration: none;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 38.1944vw;
  height: 18.5rem;
  display: block;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.bet-container .first-column .promo-box a:hover,
.bet-container .first-column .promo-box a:focus {
  box-shadow: 0 0.1rem 2.4rem #222;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.bet-container .first-column .promo-box a img {
  width: 100%;
  height: 100%;
  transform: scale(1.015, 1.03);
  -webkit-transform: scale(1.015, 1.03);
  -moz-transform: scale(1.015, 1.03);
  -ms-transform: scale(1.015, 1.03);
  -o-transform: scale(1.015, 1.03);
}

/*----------------------------*/
/* Media Queries For Responsiveness*/
/*----------------------------*/
@media only screen and (max-width: 1200px) {
  .bet-container {
    width: 98rem !important;
    height: 75rem !important;
  }

  .bet-contents-container {
    top: -12rem;
  }

  .bet-contents-first .first-list img {
    width: 42rem !important;
    height: 20rem !important;
  }
  .bet-contents-first .second-list img,
  .bet-contents-first .third-list img,
  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 22rem !important;
    height: 20rem !important;
  }

  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-third .first-list img {
    width: 53rem !important;
    height: 15rem !important;
  }

  .bet-contents-third .second-list img,
  .bet-contents-third .third-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-fourth .first-list img {
    width: 89rem !important;
    height: 10rem !important;
  }
  .bet-contents-fifth .first-list img,
  .bet-contents-fifth .second-list img,
  .bet-contents-fifth .third-list img,
  .bet-contents-fifth .fourth-list img,
  .bet-contents-fifth .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
}

@media only screen and (max-width: 1120px) {
  html,
  body {
    background-color: #090d28;
    font-size: 9px;
  }
  .bet-container {
    width: 98rem !important;
    height: 75rem !important;
  }

  .bet-contents-container {
    top: -12rem;
  }

  .bet-contents-first .first-list img {
    width: 42rem !important;
    height: 20rem !important;
  }
  .bet-contents-first .second-list img,
  .bet-contents-first .third-list img,
  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 22rem !important;
    height: 20rem !important;
  }

  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-third .first-list img {
    width: 53rem !important;
    height: 15rem !important;
  }

  .bet-contents-third .second-list img,
  .bet-contents-third .third-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-fourth .first-list img {
    width: 89rem !important;
    height: 10rem !important;
  }
  .bet-contents-fifth .first-list img,
  .bet-contents-fifth .second-list img,
  .bet-contents-fifth .third-list img,
  .bet-contents-fifth .fourth-list img,
  .bet-contents-fifth .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
}

@media only screen and (max-width: 990px) {
  html,
  body {
    background-color: #090d28;
    font-size: 8px;
  }
}

@media only screen and (max-width: 900px) {
  html,
  body {
    background-color: #090d28;
    font-size: 7.5px;
  }
  .bet-container {
    width: 98rem !important;
    height: 75rem !important;
  }

  .bet-contents-container {
    top: -12rem;
  }

  .bet-contents-first .first-list img {
    width: 42rem !important;
    height: 20rem !important;
  }
  .bet-contents-first .second-list img,
  .bet-contents-first .third-list img,
  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 22rem !important;
    height: 20rem !important;
  }

  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-third .first-list img {
    width: 53rem !important;
    height: 15rem !important;
  }

  .bet-contents-third .second-list img,
  .bet-contents-third .third-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-fourth .first-list img {
    width: 89rem !important;
    height: 10rem !important;
  }
  .bet-contents-fifth .first-list img,
  .bet-contents-fifth .second-list img,
  .bet-contents-fifth .third-list img,
  .bet-contents-fifth .fourth-list img,
  .bet-contents-fifth .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
}

@media only screen and (max-width: 850px) {
  html,
  body {
    background-color: #090d28;
    font-size: 7.2px;
  }
  .bet-container {
    width: 90rem !important;
    height: 75rem !important;
  }

  .bet-contents-container {
    top: -12rem;
  }

  .bet-contents-first .first-list img {
    width: 42rem !important;
    height: 20rem !important;
  }
  .bet-contents-first .second-list img,
  .bet-contents-first .third-list img,
  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 22rem !important;
    height: 20rem !important;
  }

  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-third .first-list img {
    width: 53rem !important;
    height: 15rem !important;
  }

  .bet-contents-third .second-list img,
  .bet-contents-third .third-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
  .bet-contents-fourth .first-list img {
    width: 84rem !important;
    height: 10rem !important;
  }
  .bet-contents-fifth .first-list img,
  .bet-contents-fifth .second-list img,
  .bet-contents-fifth .third-list img,
  .bet-contents-fifth .fourth-list img,
  .bet-contents-fifth .fifth-list img {
    width: 16.7rem !important;
    height: 15rem !important;
  }
}

@media only screen and (max-width: 800px) {
  html,
  body {
    background-color: #090d28;
    font-size: 7.1px;
    overflow-x: hidden;
  }

  .bet-container {
    width: 90rem !important;
    height: 75rem !important;
  }

  .bet-contents-first .first-list img {
    width: 38rem !important;
    height: 19rem !important;
  }
  .bet-contents-first .second-list img,
  .bet-contents-first .third-list img,
  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 20rem !important;
    height: 19rem !important;
  }

  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 15rem !important;
    height: 13.5rem !important;
  }
  .bet-contents-third .first-list img {
    width: 50rem !important;
    height: 13.5rem !important;
  }

  .bet-contents-third .second-list img,
  .bet-contents-third .third-list img {
    width: 15rem !important;
    height: 13.5rem !important;
  }
  .bet-contents-fourth .first-list img {
    width: 82rem !important;
    height: 10rem !important;
  }
  .bet-contents-fifth .first-list img,
  .bet-contents-fifth .second-list img,
  .bet-contents-fifth .third-list img,
  .bet-contents-fifth .fourth-list img,
  .bet-contents-fifth .fifth-list img {
    width: 15rem !important;
    height: 13.5rem !important;
  }
}

@media only screen and (max-width: 700px) {
  html,
  body {
    background-color: #090d28;
    font-size: 7px;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    background-color: #090d28;
    font-size: 6px;
  }
}

@media only screen and (max-width: 520px) {
  html,
  body {
    background-color: #090d28;
    font-size: 5px;
  }
}

@media only screen and (max-width: 430px) {
  html,
  body {
    background-color: #090d28;
    font-size: 4px;
  }
  .bet-container {
    width: 85rem !important;
    height: 75rem !important;
  }

  .bet-contents-first .first-list img {
    width: 36.5rem !important;
    height: 19rem !important;
  }
  .bet-contents-first .second-list img,
  .bet-contents-first .third-list img,
  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 19.2rem !important;
    height: 19rem !important;
  }

  .bet-contents-second .first-list img,
  .bet-contents-second .second-list img,
  .bet-contents-second .third-list img,
  .bet-contents-second .fourth-list img,
  .bet-contents-second .fifth-list img {
    width: 14.9rem !important;
    height: 13.5rem !important;
  }
  .bet-contents-third .first-list img {
    width: 49rem !important;
    height: 13.5rem !important;
  }

  .bet-contents-third .second-list img,
  .bet-contents-third .third-list img {
    width: 14.9rem !important;
    height: 13.5rem !important;
  }
  .bet-contents-fourth .first-list img {
    width: 80rem !important;
    height: 10rem !important;
  }
  .bet-contents-fifth .first-list img,
  .bet-contents-fifth .second-list img,
  .bet-contents-fifth .third-list img,
  .bet-contents-fifth .fourth-list img,
  .bet-contents-fifth .fifth-list img {
    width: 15rem !important;
    height: 13.5rem !important;
  }
}

@media only screen and (max-width: 340px) {
  html,
  body {
    background-color: #090d28;
    font-size: 3px;
  }
}
