/*----------------------------*/
/* Google Fonts */
/*----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/*----------------------------*/
/* Basic Setup */
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  background-color: #090d28;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

/*----------------------------*/
/* slot Casino Content Section*/
/*----------------------------*/
.slotContent {
  width: 100vw;
}

.slot-main-bet-contents {
  width: 97vw;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}

.main-content-left {
  width: 20vw;
  height: 100vh;
  overflow: hidden;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 12.5rem;
  margin: 1.5rem 0;
  background-color: #141b2f;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}

.main-content-left .buttonHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll !important;
  padding: 1rem;
}

.main-content-left .buttonHolder::-webkit-scrollbar-track {
  margin: 0.75rem 0;
}

.buttonHolder-search {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonHolder-search input {
  width: 80%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #7388b6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0;
  padding: 0 1rem;
  background-color: #fff;
  height: 3.4rem;
  border-right: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.buttonHolder-search button {
  width: 20% !important;
  border: 0;
  border-left: 0;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.buttonHolder-search button img {
  width: 2rem !important;
}

.buttonHolder-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.buttonHolder-filter h2 {
  color: #7388b6;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.012rem;
  margin: 1rem 0;
  opacity: 0.3;
  text-transform: uppercase;
}

.buttonHolder-filter .nav-pills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.buttonHolder-filter .nav-pills .filter-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.9rem;
  justify-content: start;
  cursor: pointer;
  height: 4.5rem;
  position: relative;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}

.buttonHolder-filter .nav-pills .filter-item::before {
  background-color: rgba(38, 46, 72, 0.5);
  bottom: 0;
  content: "";
  height: 0.1rem;
  left: 1.2rem;
  position: absolute;
  right: 1.2rem;
}

.buttonHolder-filter .nav-pills .filter-item:hover,
.buttonHolder-filter .nav-pills .filter-item:focus {
  background-color: #1f2941;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.buttonHolder-filter .nav-pills .active::before,
.buttonHolder-filter .nav-pills .active::before {
  height: 0;
}

.buttonHolder-filter .nav-pills .active {
  background-image: -webkit-linear-gradient(
    190deg,
    #00ff86,
    #00a858 48%,
    #00a858
  );
  background-image: linear-gradient(260deg, #00ff86, #00a858 48%, #00a858);
  box-shadow: 0 0.2rem 1.4rem 0 rgba(0, 188, 99, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.buttonHolder-filter .nav-pills .active .filter-link {
  color: #fff;
}
.buttonHolder-filter .nav-pills .active .vector-block span {
  color: #fff;
}
.buttonHolder-filter .nav-pills .active .vector-block img {
  background-color: #000;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.buttonHolder-filter .nav-pills .vector-block {
  position: relative;
  padding: 1rem 1.2rem 1rem 0;
}

.buttonHolder-filter .nav-pills .vector-block span {
  font-weight: 400;
  font-size: 1.1rem;
  position: absolute;
  top: -0.2rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

.buttonHolder-filter .nav-pills img {
  width: 2rem;
  margin: 0;
}

.buttonHolder-filter .nav-pills .filter-link {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin-left: 1.2rem;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}

.slot-main-bet-contents .main-content-right {
  width: 75vw;
  margin: 1.5rem 0 0;
}

.main-image {
  width: 100%;
  height: 21rem;
  background: transparent;
}
.main-image img {
  width: 100%;
  height: 21rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.mainContent-button-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 6rem;
}

.mainContent-button-holder button {
  font-weight: 500;
  font-size: 1.5rem;
  background: #272933;
  border-radius: 0.188rem;
  -webkit-border-radius: 0.188rem;
  -moz-border-radius: 0.188rem;
  -ms-border-radius: 0.188rem;
  -o-border-radius: 0.188rem;
  color: #fff;
  padding: 0 1rem;
  height: 3rem;
  border: 0;
  outline: 0;
  margin-left: 1rem;
}

.mainContent-button-holder .active {
  background: #efc02c;
}

.mainContent-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
}

.bet-first-column,
.bet-second-column,
.bet-third-column,
.bet-fourth-column,
.bet-fifth-column,
.bet-sixth-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4.8rem;
}

.bet-sixth-column {
  margin-bottom: 0 !important;
}

.column-heading {
  align-self: flex-start;
  margin-bottom: 2.7rem;
  font-weight: 500;
  font-size: 2.4375rem;
  color: #efc02c;
}

.mainContent-holder .first-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.swiper-wrapper {
  width: 75vw !important;
}

.swiper-slide {
  width: 14vw !important;
  margin-right: 1vw !important;
}

.swiper-pagination {
  display: none !important;
}

.box-link {
  text-decoration: none;
}

.box {
  width: 100%;
  height: 14.4rem;
  cursor: pointer;
  overflow: hidden;
  border: 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.box-image-container {
  overflow: hidden;
}

.box-img-top {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: transform 0.25s ease-in;
  -webkit-transition: transform 0.25s ease-in;
  -moz-transition: transform 0.25s ease-in;
  -ms-transition: transform 0.25s ease-in;
  -o-transition: transform 0.25s ease-in;
}

.box:hover .box-img-top,
.box:focus .box-img-top {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: transform 0.25s ease-in;
  -webkit-transition: transform 0.25s ease-in;
  -moz-transition: transform 0.25s ease-in;
  -ms-transition: transform 0.25s ease-in;
  -o-transition: transform 0.25s ease-in;
}

.box-body {
  background-color: #272735;
  font-weight: 400;
  font-size: 1.40625rem;
  width: 100%;
  height: 4.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.box:hover .box-body,
.box:focus .box-body {
  text-decoration: underline;
}

/*----------------------------*/
/* Media Queries For Responsiveness*/
/*----------------------------*/
@media only screen and (max-width: 1240px) {
  .buttonHolder-filter .nav-pills .filter-item {
    padding: 1rem 0.5rem;
  }

  .buttonHolder-filter .nav-pills .vector-block {
    position: relative;
    padding: 1rem 1.2rem 1rem 0;
  }

  .buttonHolder-filter .nav-pills .vector-block span {
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    top: -0.2rem;
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .buttonHolder-filter .nav-pills img {
    width: 1.6rem;
    margin: 0;
  }

  .buttonHolder-filter .nav-pills .filter-link {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    margin-left: 1.2rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 1080px) {
  html,
  body {
    font-size: 9.5px;
  }
}

@media only screen and (max-width: 990px) {
  html,
  body {
    font-size: 9px;
  }
}

@media only screen and (max-width: 900px) {
  html,
  body {
    font-size: 8px;
  }
}

@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: 7.5px;
  }

  .buttonHolder-filter .nav-pills .filter-link {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 700px) {
  html,
  body {
    font-size: 7px;
  }

  .buttonHolder-search button img {
    width: 1.8rem !important;
  }
}

@media only screen and (max-width: 650px) {
  html,
  body {
    font-size: 6.5px;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 6px;
  }
}

@media only screen and (max-width: 550px) {
  html,
  body {
    font-size: 5.5px;
  }
  .buttonHolder-search button img {
    width: 1.6rem !important;
  }
}

@media only screen and (max-width: 500px) {
  html,
  body {
    font-size: 5px;
  }
}

@media only screen and (max-width: 450px) {
  html,
  body {
    font-size: 4.5px;
  }

  .buttonHolder-search button {
    height: 3.5rem;
  }

  .buttonHolder-search button img {
    width: 1.4rem !important;
  }
}

@media only screen and (max-width: 401px) {
  html,
  body {
    font-size: 4px;
  }
}

@media only screen and (max-width: 350px) {
  html,
  body {
    font-size: 3.5px;
  }
}

@media only screen and (max-width: 301px) {
  html,
  body {
    font-size: 3px;
  }
}

@media only screen and (max-width: 250px) {
  html,
  body {
    font-size: 2.5px;
  }
}
